[*.ts]
indent_style=space
indent_size=2
max_line_length=80
quote_type=single

[*.js]
indent_style=space
indent_size=2
max_line_length=80
quote_type=single

[*.json]
indent_style=space
indent_size=4
max_line_length=80
quote_type=single