:root {
   --md-admonition-icon--v1-release: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDQuNzYyIDMuOTY5Ij48dGV4dCBzdHlsZT0ibGluZS1oZWlnaHQ6MS4yNTstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOidWYXJlbGEgUm91bmQnIiB4PSIuODYyIiB5PSIzLjM2OSIgZm9udC1zaXplPSIzLjg4MSIgZm9udC1mYW1pbHk9IlZhcmVsYSBSb3VuZCIgbGV0dGVyLXNwYWNpbmc9Ii0uMjY1IiB3b3JkLXNwYWNpbmc9IjAiIGZpbGw9IiM1M2NiYzkiIHN0cm9rZS13aWR0aD0iLjI2NSI+PHRzcGFuIHg9Ii44NjIiIHk9IjMuMzY5IiBzdHlsZT0iLWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonT3BlbiBTYW5zJyIgZm9udC13ZWlnaHQ9IjQwMCIgZm9udC1mYW1pbHk9Ik9wZW4gU2FucyI+djE8L3RzcGFuPjwvdGV4dD48L3N2Zz4=');
   --md-admonition-icon--v2-release: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDQuNzYyIDMuOTY5Ij48dGV4dCBzdHlsZT0ibGluZS1oZWlnaHQ6MS4yNTstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOidWYXJlbGEgUm91bmQnIiB4PSIuNTM0IiB5PSIzLjM4OSIgZm9udC1zaXplPSIzLjg4MSIgZm9udC1mYW1pbHk9IlZhcmVsYSBSb3VuZCIgbGV0dGVyLXNwYWNpbmc9Ii0uMjY1IiB3b3JkLXNwYWNpbmc9IjAiIGZpbGw9IiNlODQzOTciIHN0cm9rZS13aWR0aD0iLjI2NSI+PHRzcGFuIHg9Ii41MzQiIHk9IjMuMzg5IiBzdHlsZT0iLWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonT3BlbiBTYW5zJyIgZm9udC13ZWlnaHQ9IjQwMCIgZm9udC1mYW1pbHk9Ik9wZW4gU2FucyI+djI8L3RzcGFuPjwvdGV4dD48L3N2Zz4=');
   --md-admonition-icon--v3-release: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDQuNzYyIDMuOTY5Ij48dGV4dCBzdHlsZT0ibGluZS1oZWlnaHQ6MS4yNTstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOidWYXJlbGEgUm91bmQnIiB4PSIuNTQ0IiB5PSIzLjM2OSIgZm9udC1zaXplPSIzLjg4MSIgZm9udC1mYW1pbHk9IlZhcmVsYSBSb3VuZCIgbGV0dGVyLXNwYWNpbmc9Ii0uMjY1IiB3b3JkLXNwYWNpbmc9IjAiIGZpbGw9IiM1M2NiYzkiIHN0cm9rZS13aWR0aD0iLjI2NSI+PHRzcGFuIHg9Ii41NDQiIHk9IjMuMzY5IiBzdHlsZT0iLWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonT3BlbiBTYW5zJyIgZm9udC13ZWlnaHQ9IjQwMCIgZm9udC1mYW1pbHk9Ik9wZW4gU2FucyIgZmlsbD0iIzY3NDE3ZiI+djM8L3RzcGFuPjwvdGV4dD48L3N2Zz4=');
   --md-admonition-icon--v4-release: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDQuNzYyIDMuOTY5Ij48dGV4dCBzdHlsZT0ibGluZS1oZWlnaHQ6MS4yNTstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOidWYXJlbGEgUm91bmQnIiB4PSIuNTQ0IiB5PSIzLjM2OSIgZm9udC1zaXplPSIzLjg4MSIgZm9udC1mYW1pbHk9IlZhcmVsYSBSb3VuZCIgbGV0dGVyLXNwYWNpbmc9Ii0uMjY1IiB3b3JkLXNwYWNpbmc9IjAiIGZpbGw9IiM1M2NiYzkiIHN0cm9rZS13aWR0aD0iLjI2NSI+PHRzcGFuIHg9Ii41NDQiIHk9IjMuMzY5IiBzdHlsZT0iLWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonT3BlbiBTYW5zJyIgZm9udC13ZWlnaHQ9IjQwMCIgZm9udC1mYW1pbHk9Ik9wZW4gU2FucyIgZmlsbD0iI2ZmOTAxOSI+djQ8L3RzcGFuPjwvdGV4dD48L3N2Zz4=');
   --md-admonition-icon--v5-release: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljc2MiAzLjk2OSIgaGVpZ2h0PSIxNSIgd2lkdGg9IjE4Ij48dGV4dCB5PSIzLjM2OSIgeD0iLjU0MiIgc3R5bGU9ImxpbmUtaGVpZ2h0OjEuMjU7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjonVmFyZWxhIFJvdW5kJyIgZm9udC1zaXplPSIzLjg4MSIgZm9udC1mYW1pbHk9IlZhcmVsYSBSb3VuZCIgbGV0dGVyLXNwYWNpbmc9Ii0uMjY1IiB3b3JkLXNwYWNpbmc9IjAiIGZpbGw9IiMwMDRjZTgiIHN0cm9rZS13aWR0aD0iLjI2NSI+PHRzcGFuIHN0eWxlPSItaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOidPcGVuIFNhbnMnIiB5PSIzLjM2OSIgeD0iLjU0MiIgZm9udC13ZWlnaHQ9IjQwMCIgZm9udC1mYW1pbHk9Ik9wZW4gU2FucyI+djU8L3RzcGFuPjwvdGV4dD48L3N2Zz4=');
}
.md-typeset .admonition.v1-release,
.md-typeset details.v1-release {
   border-color: rgb(83, 203, 201);
}
.md-typeset .v1-release > .admonition-title,
.md-typeset .v1-release > summary {
   background-color: rgba(224, 245, 245, 0.7);
   border-left: 0.2rem solid rgb(83, 203, 201);
}
.md-typeset .v1-release > .admonition-title::before,
.md-typeset .v1-release > summary::before {
   background-color: rgb(83, 203, 201);
   -webkit-mask-image: var(--md-admonition-icon--v1-release);
   mask-image: var(--md-admonition-icon--v1-release);
}
.md-typeset .admonition.v2-release,
.md-typeset details.v2-release {
   border-color: rgb(232, 67, 151);
}
.md-typeset .v2-release > .admonition-title,
.md-typeset .v2-release > summary {
   background-color: rgba(245, 169, 207, 0.25);
   border-left: 0.2rem solid rgb(232, 67, 151);
}
.md-typeset .v2-release > .admonition-title::before,
.md-typeset .v2-release > summary::before {
   background-color: rgb(232, 67, 151);
   -webkit-mask-image: var(--md-admonition-icon--v2-release);
   mask-image: var(--md-admonition-icon--v2-release);
}
.md-typeset .admonition.v3-release,
.md-typeset details.v3-release {
   border-color: rgb(103, 65, 127);
}
.md-typeset .v3-release > .admonition-title,
.md-typeset .v3-release > summary {
   background-color: rgba(189, 173, 199, 0.25);
   border-left: 0.2rem solid rgb(103, 65, 127);
}
.md-typeset .v3-release > .admonition-title::before,
.md-typeset .v3-release > summary::before {
   background-color: rgb(103, 65, 127);
   -webkit-mask-image: var(--md-admonition-icon--v3-release);
   mask-image: var(--md-admonition-icon--v3-release);
}
.md-typeset .admonition.v4-release,
.md-typeset details.v4-release {
   border-color: rgb(255, 144, 25);
}
.md-typeset .v4-release > .admonition-title,
.md-typeset .v4-release > summary {
   background-color: rgba(255, 215, 175, 0.25);
   border-left: 0.2rem solid rgb(255, 144, 25);
}
.md-typeset .v4-release > .admonition-title::before,
.md-typeset .v4-release > summary::before {
   background-color: rgb(255, 144, 25);
   -webkit-mask-image: var(--md-admonition-icon--v4-release);
   mask-image: var(--md-admonition-icon--v4-release);
}
.md-typeset .admonition.v5-release,
.md-typeset details.v5-release {
   border-color: rgb(0, 76, 232);
}
.md-typeset .v5-release > .admonition-title,
.md-typeset .v5-release > summary {
   background-color: rgba(204, 229, 255, 0.25);
   border-left: 0.2rem solid rgb(0, 76, 232);
}
.md-typeset .v5-release > .admonition-title::before,
.md-typeset .v5-release > summary::before {
   background-color: rgb(0, 76, 232);
   -webkit-mask-image: var(--md-admonition-icon--v5-release);
   mask-image: var(--md-admonition-icon--v5-release);
}
