name: PR Docs Build

on:
  pull_request:

permissions:
  contents: read

jobs:
  build-docs:
    uses: papermoonio/workflows/.github/workflows/core-pr-mkdocs-build.yml@main
    with:
      mkdocs_repo: papermoonio/moonbeam-mkdocs
      docs_repo: moonbeam-foundation/moonbeam-docs
      docs_checkout: moonbeam-docs
